sudo: required
services:
 - docker

before_install:
 - docker build -t sandeep/docker-react -f Dockerfile.dev .

script:
 - docker run -e CI=true sandeep/docker-react npm run test

deploy:
 provider: azure_web_apps
 verbose: true
 username: "$AZURE_USERNAME"
 password:
  secure: "$AZURE_PASSWORD"
 skip_clean: true
