sudo: required
services:
 - docker

before_install:
 - docker build -t sandeep/docker-react -f Dockerfile.dev .

script:
 - docker run -e CI=true sandeep/docker-react npm run test

github_url: https://github.com/SanSanvi/docker-react.git

deploy: 
 provider: azure-web-apps
 verbose: true
 skip_clean: true


